/* Hide Sign-up link in Sign-in page */
#api div.create {
	display: none;
}

/* Customize unified.html (Sign-in page) */

a {
	color: #C93413;
}

a:focus, a:hover {
	color: #8E200B;
}

.unified_container .row .panel-default #api .localAccount .entry .buttons button {
	background-color: #C93413;
}

.unified_container .row .panel-default #api .localAccount .entry .buttons button:focus,
.unified_container .row .panel-default #api .localAccount .entry .buttons button:hover {
	background-color: #8E200B;
}

.unified_container .row .panel-default #api .accountButton:hover {
	background-color: #8E200B;
}

/* Customize selfAsserted.html (Reset password page) */

.buttons button {
	background-color: #C93413;
}

.buttons button:focus, .buttons button:hover {
	background-color: #8E200B;
}

#attributeList ul li .attrEntry .verify .sendButton[id$=ver_but_send] {
	background-color: #C93413;
}

#attributeList ul li .attrEntry .verify .sendButton[id$=ver_but_send]:hover {
	background-color: #8E200B;
}

#attributeList ul li .attrEntry .verify .verifyButton {
	background-color: #C93413;
}

#attributeList ul li .attrEntry .verify .verifyButton:hover {
	background-color: #8E200B;
}

#attributeList ul li .attrEntry .verify .sendButton[id$=ver_but_resend] {
	background-color: #C93413;
}

#attributeList ul li .attrEntry .verify .sendButton[id$=ver_but_resend]:hover {
	background-color: #8E200B;
}

#attributeList ul li .attrEntry .verify .editButton {
	background-color: #C93413;
}

#attributeList ul li .attrEntry .verify .editButton:hover {
	background-color: #8E200B;
}